@page
@model ScanManagerSamples.Pages.AllScansModel
@{
}
<h1>Scan Manager Pro test</h1>

<ul id="messagesList"></ul>

<script src="~/js/signalr/dist/browser/signalr.js"></script>

<script>
    var connection = new signalR.HubConnectionBuilder().withUrl("/ScanResut").build();

    connection.on("ReceiveMessage", function (message) {
        var li = document.createElement("li");
        document.getElementById("messagesList").appendChild(li);
        li.textContent = `${message}`;
    });

    connection.start().then(function () {
    }).catch(function (err) {
        return console.error(err.toString());
    });
</script>